<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-formhelpers.min.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/assets/css/jquery-ui.css"" rel="stylesheet">
		<link href="/assets/css/trainer_main_style.css" rel="stylesheet"  type="text/css">

		<script type="application/javascript" src="/assets/js/jquery-2.1.4.js"></script>
		<script type="application/javascript" src="/assets/js/jquery-ui.js"></script>
		<script type="application/javascript" src="/assets/js/myscripts.js"></script>

		<script type="application/javascript" src="/assets/js/transition.js"></script>
		<script type="application/javascript" src="/assets/js/bootstrap-formhelpers.js">
    <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <title>Вход в систему</title>

    <!-- Bootstrap core CSS -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="/assets/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script type="text/javascript" async="" src="./Signin Template for Bootstrap_files/watch.js"></script><script src="./Signin Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	<style>
	body{background-image: url('/assets/ico/login.jpg');
	background-color: #c7b39b;}
	 
	</style>
  <body>
<form method="POST" action="/login.php/go" class="form-inline" style="margin-left:40%;margin-top:10%">
           <fieldset>
            <p style="font-size:25px"></p>
			<table>
              <tr><td><input type="text" id="FIO" name="FIO" minlength ="3" class="form-control" placeholder="Имя пользователя" required="" autofocus=""></br></br></td></tr>
             </br> <tr><td><input type="password" id="number" name="number" maxlength="8" minlength ="8" class="form-control" placeholder="Номер карты" required="" autofocus="">
             </td></tr>
           
            <tr class="text-align:center"><td></br></br><button type="submit" class="btn btn-primary btn-lg">Войти в систему</button></td></tr>
			</table>
           </fieldset>
          </form>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  

</body></html>